* {
    text-align: center;
    background-color:rgb(223, 201, 201);
  }

  body
  {
    margin-left: 30%;
    margin-top: 9%;
    padding-left: 1%;
  }

  .header
  {
    background-color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    min-height: 430px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input
  {
    background-color: rgb(231, 226, 226);
    border: 0ch;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: left;
    border-radius: 5px;
    font-size: large;
  }

  .p1
  {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    background-color: white;
  }

  button
  {
    background-color: rgb(237, 92, 40);
    color: white;
    border: 0ch;
    font-family:monospace;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 35px;
  }